# Python Crash Course - Part 3

In [18]:
def foo(arg='NO NAME'):
    '''
    This prints out a greeting and the user name.
    '''
    print('hello '+arg)

In [16]:
foo('Luis')

hello Luis

In [19]:
foo

foo is a function in the __main__.foo() file (foo is a method of __main__)

In [17]:
foo()

hello NO NAME

We can set up a default argument value. Docstring is placed inside triple quotes.

In [25]:
def sq(x):
    return x**2

In [29]:
x2_2 = sq(2)
x2_2

4

With the return we can assign the object / value to a variable.

In [30]:
type(x2_2)

int

In the next section we discuss lambda expression

In [31]:
lambda x:x**2

In [32]:
st = 'hello my name is Luis'

In [33]:
st.lower()

'hello my name is luis'

In [34]:
st.upper()

'HELLO MY NAME IS LUIS'

In [36]:
st.split()

['hello', 'my', 'name', 'is', 'Luis']

In [37]:
tweet = 'hello #sport'

In [38]:
tweet.split('#')

['hello ', 'sport']

In [39]:
tweet.split('#')[-1]

'sport'

In [40]:
dic = {'k1':'v1','k2':'v2'}

In [41]:
dic.keys()

dict_keys(['k1', 'k2'])

In [49]:
myList = [1,2,3]

In [50]:
lastItem = myList.pop()

In [51]:
lastItem

3

In [52]:
myList

[1, 2]

In [53]:
2 in myList

True