# Python Crash Course - Part One

We have integers (a=1) and floats (b=1.0). We can see the type of the object with the type() function.

In [3]:
print('hello')

hello

In [4]:
'hello'

'hello'

In [8]:
print("My name is {}, my number is {}".format('Luis', '10'))

My name is Luis, my number is 10

In [11]:
print("First: {x}, Second: {y}".format(x='XXX',y='YYY'))

First: XXX, Second: YYY

Here order is irrelevant and we can use objects more than once.

In [12]:
[1,2,3]

[1, 2, 3]

In [13]:
['a','b','c',10]

['a', 'b', 'c', 10]

In [14]:
myList = ['a','b','c']

In [15]:
myList[0]

'a'

In [16]:
myList[-1]

'c'

In [20]:
myList[-3]

'a'

In [21]:
myList[0]='new'

In [22]:
myList

['new', 'b', 'c']

In [23]:
myList.append('d')

In [25]:
myList = [1,2, [100,200]]

In [26]:
myList[2]

[100, 200]

In [27]:
myList[2][0]

100

In [37]:
d = {'key1':'value1', 'key2':'value2'}

In [38]:
d['key1']

'value1'

In [33]:
e= {1:'value1'}

In [34]:
e[1]

'value1'

This a 1-indexed list.

In [39]:
print(d)

{'key1': 'value1', 'key2': 'value2'}

In [40]:
True

True

In [41]:
False

False

In [42]:
t=(1,2,3)

In [44]:
s={1,2,3}