# Python Crash Course - Part 2

In [1]:
1>2

False

In [2]:
1 >= 1

True

In [3]:
1 == 1

True

In [4]:
'a' == 'A'

False

In [5]:
'a' == 'a'

True

In [6]:
1 != 2

True

In [7]:
(1 == 1 ) and ('a' == 'a')

True

In [9]:
1 == 1 and 'a' == 'b'

False

In [10]:
if 1 == 1:
    print('hello')

hello

In [11]:
if 1 == 2: 
    print('hello')

In [12]:
if 1 == 2: 
    print('hello')
else: 
    print('hello!')

hello!

In [13]:
if 1 == 2: 
    print('hello')
elif 3 == 3: 
    print('second cond true')
else: 
    print('hello!')

second cond true

In [14]:
seq = [1,2,3,4,5]

In [34]:
for i in seq: 
    print(2*i)

2
4
6
8
10

In [38]:
a = 1
while a < 5:
    print('{}) a is {}'.format(a,a))
    a = a+1

1) a is 1
2) a is 2
3) a is 3
4) a is 4

In [43]:
list(range(5))

[0, 1, 2, 3, 4]

In [44]:
for i in range(5): 
    print(i)

0
1
2
3
4

In [46]:
x = range(5)

In [49]:
out = []
for i in x:
    out.append(i**2)
    print(out)
    
print(out)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]

This can be flattened out into a list comprehension

In [50]:
[i**2 for i in x]

[0, 1, 4, 9, 16]