In [102]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [103]:
df = pd.read_csv("../prep-data/Advertising.csv")

In [104]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

---

# Intro to CV

In [105]:
X = df.drop('sales',axis=1)

In [106]:
y = df['sales']

---

## Train | Test Split

In [107]:
from sklearn.model_selection import train_test_split

In [108]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

---

In [109]:
from sklearn.preprocessing import StandardScaler

In [110]:
scaler = StandardScaler()

In [111]:
scaler.fit(X_train)

StandardScaler()

In [112]:
X_train = scaler.transform(X_train)

In [113]:
X_test = scaler.transform(X_test)

---

In [114]:
from sklearn.linear_model import Ridge

In [115]:
model = Ridge(alpha=100)

In [116]:
model.fit(X_train,y_train)

Ridge(alpha=100)

In [117]:
y_pred = model.predict(X_test)

---

In [118]:
from sklearn.metrics import mean_squared_error

In [119]:
mean_squared_error(y_test, y_pred)

7.834988593141581

---

In [120]:
model2 = Ridge(alpha=1)

In [121]:
model2.fit(X_train,y_train)

Ridge(alpha=1)

In [21]:
y_pred2 = model2.predict(X_test)

In [122]:
mean_squared_error(y_test, y_pred2)

3.7310152520189783

---

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
mean_squared_error(y_test, y_pred2)
# note that the model performs better with this alpha value

3.7310152520189783

## Train | Validation | Test Split
---

In [24]:
X.head()

      TV  radio  newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [25]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: sales, dtype: float64

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_vt, y_train, y_vt = train_test_split(X, y, test_size=0.3, random_state=42)

In [28]:
X_val, X_test, y_val, y_test = train_test_split(X_vt, y_vt, test_size=0.5, random_state=42)

In [29]:
# X -> X_train, X_val, X_test
# y -> y_train, y_val, y_test
print(f"len(X_train)={len(X_train)}, len(X_val)={len(X_val)}, len(X_test)={len(X_test)}")

len(X_train)=140, len(X_val)=30, len(X_test)=30

In [30]:
from sklearn.preprocessing import StandardScaler

In [31]:
scaler = StandardScaler()

In [32]:
scaler.fit(X_train)

StandardScaler()

In [33]:
X_train = scaler.transform(X_train)
X_val = scaler.transform(X_val)
X_test = scaler.transform(X_test)

In [34]:
from sklearn.linear_model import Ridge

In [35]:
model1 = Ridge(alpha=100)

In [36]:
model1.fit(X_train,y_train)

Ridge(alpha=100)

In [37]:
y_val_pred = model.predict(X_val)

In [38]:
from sklearn.metrics import mean_squared_error

In [39]:
mean_squared_error(y_val, y_val_pred)

7.159820078783062

In [40]:
model2 = Ridge(alpha=1)

In [41]:
model2.fit(X_train,y_train)

Ridge(alpha=1)

In [42]:
y_val_pred2 = model2.predict(X_val)

In [43]:
mean_squared_error(y_val, y_val_pred2)

2.5522105291435984

### Final Performance Evaluation

In [44]:
y_test_pred = model2.predict(X_test)

In [45]:
mean_squared_error(y_test, y_test_pred)

5.048154486831445

# Built-In Function

In [46]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [47]:
X = df.drop('sales',axis=1)

In [48]:
y = df['sales']

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [51]:
from sklearn.preprocessing import StandardScaler

In [52]:
scaler = StandardScaler()

In [53]:
scaler.fit(X_train)

StandardScaler()

In [54]:
X_train = scaler.transform(X_train)

In [55]:
X_test = scaler.transform(X_test)

In [56]:
model = Ridge(alpha=100)

---

In [57]:
from sklearn.model_selection import cross_val_score

In [58]:
scores = cross_val_score(model,X_train,y_train, scoring='neg_mean_squared_error',cv=5)

In [59]:
scores

array([-8.24238361, -4.92683375, -8.23406926, -8.57882398, -8.86803785])

In [60]:
abs(scores.mean())

7.770029691272373

In [61]:
model2 = Ridge(alpha=1)

In [62]:
scores2 = cross_val_score(model2,X_train,y_train, scoring='neg_mean_squared_error',cv=5)

In [63]:
scores2

array([-2.32283992, -1.27714646, -2.73414356, -2.19155235, -5.11459617])

In [64]:
abs(scores2.mean())
# this model performs better with alpha is equal to one with a mean error of 2.7 in a 5-fold cross-validation

2.728055693070764

In [65]:
model2.fit(X_train, y_train)

Ridge(alpha=1)

In [66]:
y_pred = model2.predict(X_test)

In [67]:
mean_squared_error(y_test, y_pred)

3.7310152520189783

---

In [68]:
# Create X and y
X = df.drop('sales',axis=1)
y = df['sales']

# Split the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# Scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [69]:
from sklearn.model_selection import cross_validate

In [70]:
model = Ridge(alpha=100)

In [71]:
scores = cross_validate(model, X_train, y_train,
                       scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10)

In [72]:
scores

{'fit_time': array([0.00216293, 0.00358605, 0.00368834, 0.0031991 , 0.00523114,
        0.00951314, 0.001127  , 0.0034349 , 0.003263  , 0.00164008]),
 'score_time': array([0.00115418, 0.002846  , 0.00245667, 0.00192261, 0.00468302,
        0.00098395, 0.00205493, 0.00233197, 0.00140166, 0.00184584]),
 'test_neg_mean_squared_error': array([ -6.06067062, -10.62703078,  -3.99342608,  -5.00949402,
         -9.14179955, -13.08625636,  -3.83940454,  -9.05878567,
         -9.05545685,  -5.77888211]),
 'test_neg_mean_absolute_error': array([-1.8102116 , -2.54195751, -1.46959386, -1.86276886, -2.52069737,
        -2.45999491, -1.45197069, -2.37739501, -2.44334397, -1.89979708])}

In [73]:
scores = pd.DataFrame(scores)

In [74]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002163,0.001154,-6.060671,-1.810212
1,0.003586,0.002846,-10.627031,-2.541958
2,0.003688,0.002457,-3.993426,-1.469594
3,0.003199,0.001923,-5.009494,-1.862769
4,0.005231,0.004683,-9.141800,-2.520697
5,0.009513,0.000984,-13.086256,-2.459995
6,0.001127,0.002055,-3.839405,-1.451971
7,0.003435,0.002332,-9.058786,-2.377395
8,0.003263,0.001402,-9.055457,-2.443344
9,0.001640,0.001846,-5.778882,-1.899797

In [75]:
scores.mean()

fit_time                        0.003685
score_time                      0.002168
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [76]:
model = Ridge(alpha=1)

In [77]:
scores = cross_validate(model, X_train, y_train,
                       scoring=['neg_mean_squared_error','neg_mean_absolute_error'],cv=10)

In [78]:
scores = pd.DataFrame(scores)

In [79]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.002072,0.005754,-2.962508,-1.457174
1,0.001873,0.001218,-3.057378,-1.555308
2,0.002002,0.003195,-2.173740,-1.238770
3,0.002541,0.016895,-0.833034,-0.768938
4,0.003657,0.001525,-3.464018,-1.434489
5,0.001577,0.002892,-8.232647,-1.494316
6,0.001745,0.000806,-1.905864,-1.081362
7,0.001674,0.001560,-2.765048,-1.250011
8,0.002316,0.001274,-4.989505,-1.580971
9,0.001123,0.000767,-2.846438,-1.223326

In [80]:
scores.mean()

fit_time                        0.002058
score_time                      0.003589
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

In [81]:
model.fit(X_train,y_train)

Ridge(alpha=1)

In [82]:
y_pred = model.predict(X_test)

In [83]:
mean_squared_error(y_test, y_pred)

2.319021579428752

In [84]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [85]:
df = pd.read_csv('../prep-data/Advertising.csv')

In [86]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [87]:
## CREATE X and y
X = df.drop('sales',axis=1)
y = df['sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [88]:
from sklearn.linear_model import ElasticNet
# two important hyperparameters: l1_ratio and alpha -> what is the optimal l1_ratio and alpha value

In [89]:
base_model = ElasticNet()

In [90]:
p_grid = {
    'alpha':[.1,1,5,10,50,100],
    'l1_ratio':[.1,.5,.7,.95,.99,1]
}

In [91]:
from sklearn.model_selection import GridSearchCV

In [92]:
grid_model = GridSearchCV(
    estimator=base_model,
    param_grid =p_grid, 
    scoring='neg_mean_squared_error',
    cv=5, 
    verbose=1
)

In [93]:
grid_model.fit(X_train,y_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 180 out of 180 | elapsed:    0.6s finished

GridSearchCV(cv=5, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 1, 5, 10, 50, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.95, 0.99, 1]},
             scoring='neg_mean_squared_error', verbose=1)

In [94]:
grid_model.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=1)

In [95]:
grid_model.best_params_

{'alpha': 0.1, 'l1_ratio': 1}

In [96]:
pd.DataFrame(grid_model.cv_results_).head()

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002301,0.001012,0.000660,0.000135,0.1,0.1,"{'alpha': 0.1, 'l1_ratio': 0.1}",-3.453021,-1.405190,-5.789125,-2.187302,-4.645576,-3.496043,1.591601,6
1,0.002020,0.000735,0.000826,0.000208,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",-3.325440,-1.427522,-5.595610,-2.163089,-4.451679,-3.392668,1.506827,5
2,0.001637,0.000365,0.003067,0.003308,0.1,0.7,"{'alpha': 0.1, 'l1_ratio': 0.7}",-3.269880,-1.442432,-5.502437,-2.163950,-4.356738,-3.347088,1.462765,4
3,0.001447,0.000359,0.001821,0.001059,0.1,0.95,"{'alpha': 0.1, 'l1_ratio': 0.95}",-3.213052,-1.472417,-5.396258,-2.177452,-4.241080,-3.300052,1.406248,3
4,0.001794,0.001433,0.000568,0.000150,0.1,0.99,"{'alpha': 0.1, 'l1_ratio': 0.99}",-3.208124,-1.478489,-5.380242,-2.181097,-4.222968,-3.294184,1.396953,2

In [97]:
y_pred = grid_model.predict(X_test)

In [98]:
from sklearn.metrics import mean_squared_error

In [99]:
mean_squared_error(y_test, y_pred)

2.387342642087474