# Python Crash Course - Part 3

In [18]:
def foo(arg='NO NAME'):
    '''
    This prints out a greeting and the user name.
    '''
    print('hello '+arg)

In [16]:
foo('Luis')

hello Luis

In [19]:
foo

foo is a function in the __main__.foo() file (foo is a method of __main__)

In [17]:
foo()

hello NO NAME

We can set up a default argument value. Docstring is placed inside triple quotes.

In [25]:
def sq(x):
    return x**2

In [29]:
x2_2 = sq(2)
x2_2

4

With the return we can assign the object / value to a variable.

In [30]:
type(x2_2)

int

In the next section we discuss lambda expression

In [31]:
lambda x:x**2

In [32]:
st = 'hello my name is Luis'

In [33]:
st.lower()

'hello my name is luis'

In [34]:
st.upper()

'HELLO MY NAME IS LUIS'

In [36]:
st.split()

['hello', 'my', 'name', 'is', 'Luis']

In [37]:
tweet = 'hello #sport'

In [38]:
tweet.split('#')

['hello ', 'sport']

In [39]:
tweet.split('#')[-1]

'sport'

In [40]:
dic = {'k1':'v1','k2':'v2'}

In [41]:
dic.keys()

dict_keys(['k1', 'k2'])

In [49]:
myList = [1,2,3]

In [50]:
lastItem = myList.pop()

In [51]:
lastItem

3

In [52]:
myList

[1, 2]

In [53]:
2 in myList

True

# Python Crash Course - Part One

We have integers (a=1) and floats (b=1.0). We can see the type of the object with the type() function.

In [3]:
print('hello')

hello

In [4]:
'hello'

'hello'

In [8]:
print("My name is {}, my number is {}".format('Luis', '10'))

My name is Luis, my number is 10

In [11]:
print("First: {x}, Second: {y}".format(x='XXX',y='YYY'))

First: XXX, Second: YYY

Here order is irrelevant and we can use objects more than once.

In [12]:
[1,2,3]

[1, 2, 3]

In [13]:
['a','b','c',10]

['a', 'b', 'c', 10]

In [14]:
myList = ['a','b','c']

In [15]:
myList[0]

'a'

In [16]:
myList[-1]

'c'

In [20]:
myList[-3]

'a'

In [21]:
myList[0]='new'

In [22]:
myList

['new', 'b', 'c']

In [23]:
myList.append('d')

In [25]:
myList = [1,2, [100,200]]

In [26]:
myList[2]

[100, 200]

In [27]:
myList[2][0]

100

In [37]:
d = {'key1':'value1', 'key2':'value2'}

In [38]:
d['key1']

'value1'

In [33]:
e= {1:'value1'}

In [34]:
e[1]

'value1'

This a 1-indexed list.

In [39]:
print(d)

{'key1': 'value1', 'key2': 'value2'}

In [40]:
True

True

In [41]:
False

False

In [42]:
t=(1,2,3)

In [44]:
s={1,2,3}

# Python Crash Course - Part 2

In [1]:
1>2

False

In [2]:
1 >= 1

True

In [3]:
1 == 1

True

In [4]:
'a' == 'A'

False

In [5]:
'a' == 'a'

True

In [6]:
1 != 2

True

In [7]:
(1 == 1 ) and ('a' == 'a')

True

In [9]:
1 == 1 and 'a' == 'b'

False

In [10]:
if 1 == 1:
    print('hello')

hello

In [11]:
if 1 == 2: 
    print('hello')

In [12]:
if 1 == 2: 
    print('hello')
else: 
    print('hello!')

hello!

In [13]:
if 1 == 2: 
    print('hello')
elif 3 == 3: 
    print('second cond true')
else: 
    print('hello!')

second cond true

In [14]:
seq = [1,2,3,4,5]

In [34]:
for i in seq: 
    print(2*i)

2
4
6
8
10

In [38]:
a = 1
while a < 5:
    print('{}) a is {}'.format(a,a))
    a = a+1

1) a is 1
2) a is 2
3) a is 3
4) a is 4

In [43]:
list(range(5))

[0, 1, 2, 3, 4]

In [44]:
for i in range(5): 
    print(i)

0
1
2
3
4

In [46]:
x = range(5)

In [49]:
out = []
for i in x:
    out.append(i**2)
    print(out)
    
print(out)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16]

This can be flattened out into a list comprehension

In [50]:
[i**2 for i in x]

[0, 1, 4, 9, 16]