In [1]:
import numpy as np
import pandas as pd

In [2]:
# help(pd.Series)

In [3]:
# pd.Series()

In [9]:
myindex = ['USA', 'Canada', 'Mexico']
mydata = [1776,1867,1821]
myser_unlabeled = pd.Series(data=mydata)
myser_unlabeled

0    1776
1    1867
2    1821
dtype: int64

In [11]:
type(myser_unlabeled)

pandas.core.series.Series

In [20]:
myser_labeled = pd.Series(data=mydata, index=myindex)
# alternative: myser_labeled = pd.Series(mydata, myindex)
myser_labeled

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [16]:
type(myser_labeled)

pandas.core.series.Series

In [19]:
myser_labeled['USA']
# alternative: myser_labeled[0]

1776

In [22]:
ages = {'Sam':5, 'Frank':10, 'Spike':7}
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [23]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [24]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [27]:
sales_q1.index
# or sales_q1.keys(); keys() is an alias for index
# the index-object contains the indices in order

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [29]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [30]:
sales_q1 + sales_q2
# with Python base operators and NumPy broadcast

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [34]:
sales_h1 = sales_q1.add(sales_q2, fill_value=0)
sales_h1
# Pandas method for algebra with Series

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64